{% extends "header.html" %} 
{% block content %} 
{% if error_msg %}
<b class="text-red-400"> {{ error_msg }} </b>
{% endif %} 

{% if career %} 
{# Display card for the career details #}
<h1 style="font-size:30;margin-left:5%;margin-top:2%">
  <b>{{ career.career.title }}</b>
</h1>
{% if career.job_outlook.outlook.category and career.job_outlook.outlook.category == "Bright" %}
  <b style="font-size:20;margin-left:5%;margin-top:2%;color:greenyellow">Good news! This career has a bright outlook!</b>
{% endif %}

<div style="font-size:18; margin-left:10%; width:80%; padding-top:2%">
   <ul>
      <li>
         <b>This position is also called:</b>
         <ul>
            {% for alt_title in career.career.also_called.title %}
            <li>{{alt_title}}</li>
            {% endfor %}
         </ul>
      </li>
      {% if career.education.education_usually_needed %}
      <br>
      <li>
        <b>Education:</b>
          {{ career.education.education_usually_needed.category[0] }}
      </li>
      {% endif %}
      <br>
      <li>
        <b>Median income:</b>
        {{ career.job_outlook.salary.annual_median }}
      </li>

      <br>
      <li>
        <b>Core responsibilities:</b> 
        <br>
        {{career.career.what_they_do}}
      </li>

      <br>
      <li>
        <b>On the job tasks:</b>
        <ol>
          {% for task in career.career.on_the_job.task %}
          <li>
            {{task}}
          </li>
          {% endfor %}
        </ol>
      </li>

      <br>
      <li>
        <b>Knowledge areas:</b>
        <ol>
          {% for item in career.knowledge.group %}
            {% for skill in item.element %}
            <li>
            {{skill.name}}
            </li>
            {% endfor %}
          {% endfor %}
        </ol>
      </li>

      <br>
      <li>
        <b>Skills:</b>
        <ol>
          {% for item in career.skills.group %}
            {% for skill in item.element %}
            <li>
            {{skill.name}}
            </li>
            {% endfor %}
          {% endfor %}
        </ol>
      </li>

      <br>
      <li>
        <b>Qualities:</b>
        <ol>
          {% for item in career.personality.work_styles.element %}
            <li>
            {{item.name}}
            </li>
          {% endfor %}
        </ol>
      </li>

      <br>
      <li>
        <b>Technology competencies:</b>
        <ol>
          {% for item in career.technology.category %}
            <li>
            {{item.title.name}}
            </li>
          {% endfor %}
        </ol>
      </li>
   </ul>

   <!-- {# Reviews #}
   <div class="reviews">
      <h1 class="reviews-title">
         Reviews
         <small class="reviews-count"> {{ reviews | length }} reviews </small>
      </h1>
      <ul class="review-container">
         {% for review in reviews %}
         <li class="review flex gap-2">
            <img
               class="h-20 w-20 rounded-lg"
               src="data:image/png;base64,{{review.image}}"
               alt=""
            />
            <div class="w-full">
               <span class="review-date">{{ review.date }}</span>
               <a
                  class="review-commenter"
                  href="{{ url_for('movies.user_detail', username=review.commenter.username) }}"
               >
                  @{{ review.commenter.username }}
               </a>
               <p class="review-content">{{ review.content }}</p>
            </div>
         </li>
         {% endfor %}
      </ul>

      {% if current_user.is_authenticated %} {# Movie review submission form #}
      <div class="container mx-auto">
         <form method="POST" action="" class="review-form">
            {{ form.csrf_token }}
            <div class="form-group review-input">
               {{ form.text.label }} {{ form.text(class="form-content") }} {% if
               form.text.errors %}
               <div class="error" role="alert">
                  {% for error in form.text.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
               </div>
               {% endif %}
            </div>
            {{ form.submit(class="review-button") }}
         </form>
      </div>
      {% endif %}
   </div>
   <div class="w-0 lg:w-96"></div>
</div>
{% endif %} {% endblock content %} -->
</div>
