{% extends "header.html" %} 
{% block content %} 
{% if error_msg %}
<b class="text-red-400"> {{ error_msg }} </b>
{% endif %} 

{% if career %} 
{# Display card for the career details #}
<div style="display: flex; justify-content: space-between;">
  <h1 style="font-size:30;margin-left:5%;margin-top:2%">
    <b>{{ career.career.title }}</b>
  </h1>

  <form method="POST" action="{{ url_for('careers.save_job') }}" style="margin-right:30%">
    {{ form.csrf_token }}
    <input type="hidden" name="job_title" value="{{ career.career.title }}">
    <input type="hidden" name="job_code" value="{{ career.code }}">
    
    <button type="submit" class="save-job-btn" style="padding-top:10%">
      <i class="fas fa-map-pin" style="font-size:40"></i> 
      <p style="font-size:30">Save Job</p>
    </button>
  </form>
</div>

{% if career.job_outlook.outlook.category and career.job_outlook.outlook.category == "Bright" %}
  <b style="font-size:20;margin-left:5%;margin-top:2%;color:greenyellow">Good news! This career has a bright outlook!</b>
{% endif %}

<div style="font-size:18; margin-left:10%; width:80%; padding-top:2%">
  <ul>
    <li>
      <b>This position is also called:</b>
      <ul>
        {% if career.career.also_called and career.career.also_called.title %}
          {% for alt_title in career.career.also_called.title %}
            <li>{{ alt_title }}</li>
          {% endfor %}
        {% else %}
          <li>N/A</li>
        {% endif %}
      </ul>
    </li>

    {% if career.education and career.education.education_usually_needed and career.education.education_usually_needed.category %}
      <br>
      <li>
        <b>Education:</b>
        {{ career.education.education_usually_needed.category[0] }}
      </li>
    {% else %}
      <li><b>Education:</b> N/A</li>
    {% endif %}
    
    <br>
    <li>
      <b>Median income:</b>
      {{ career.job_outlook.salary.annual_median if career.job_outlook and career.job_outlook.salary and career.job_outlook.salary.annual_median else 'N/A' }}
    </li>

    <br>
    <li>
      <b>Core responsibilities:</b> 
      <br>
      {{ career.career.what_they_do if career.career and career.career.what_they_do else 'N/A' }}
    </li>

    <br>
    <li>
      <b>On the job tasks:</b>
      <ol>
        {% if career.career.on_the_job and career.career.on_the_job.task %}
          {% for task in career.career.on_the_job.task %}
            <li>{{ task }}</li>
          {% endfor %}
        {% else %}
          <li>N/A</li>
        {% endif %}
      </ol>
    </li>

    <br>
    <li>
      <b>Knowledge areas:</b>
      <ol>
        {% if career.knowledge and career.knowledge.group %}
          {% for item in career.knowledge.group %}
            {% for skill in item.element %}
              <li>{{ skill.name }}</li>
            {% endfor %}
          {% endfor %}
        {% else %}
          <li>N/A</li>
        {% endif %}
      </ol>
    </li>

    <br>
    <li>
      <b>Skills:</b>
      <ol>
        {% if career.skills and career.skills.group %}
          {% for item in career.skills.group %}
            {% for skill in item.element %}
              <li>{{ skill.name }}</li>
            {% endfor %}
          {% endfor %}
        {% else %}
          <li>N/A</li>
        {% endif %}
      </ol>
    </li>

    <br>
    <li>
      <b>Qualities:</b>
      <ol>
        {% if career.personality and career.personality.work_styles and career.personality.work_styles.element %}
          {% for item in career.personality.work_styles.element %}
            <li>{{ item.name }}</li>
          {% endfor %}
        {% else %}
          <li>N/A</li>
        {% endif %}
      </ol>
    </li>

    <br>
    <li>
      <b>Technology competencies:</b>
      <ol>
        {% if career.technology and career.technology.category %}
          {% for item in career.technology.category %}
            <li>{{ item.title.name if item.title and item.title.name else 'N/A' }}</li>
          {% endfor %}
        {% else %}
          <li>N/A</li>
        {% endif %}
      </ol>
    </li>
  </ul>
</div>
{% endif %} {% endblock content %}
</div>
