{% extends "header.html" %} {% block content %}

{% if error_msg %}
  <b class="text-red-400">
    {{ error_msg }}
  </b>
{% endif %}

<div class="results-container">
  <div class="decoration-container"><div class="decoration"></div></div>
  {% if results.total == 0 %}
  <h1 style="margin-top:10%">No results found. Please try again with a different keyword.</h1>
  {% endif %}
  {% for result in results.career %}
  <a 
    href="{{ url_for('careers.career_detail', code=result.code) }}"
    class="group movie-card"
  >{{result.title}}
  </a>
  {% endfor %}
</div>

{% endblock %}
